<html>
<head>
    <style>
        .header {   
            position: fixed;
            left: 0px;
            margin-top: 0px;
            top:0px;
            right: 0px;
            height: 100px;
            width: 100%;
        }

        @page {
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
        }

        body {
            margin-bottom: 120px;
        }
    </style>
 
    <style>
        .footer {   
            position: fixed;
            left: 0px;
            bottom: 0px;
            right: 0px;
            height: 80px;
            width: 100%;
        }
        .footer .page:after{
            content: counter(page)
        }
    </style>
</head>
<body>
<table style="border-collapse: collapse; width: 100%; background-color: #ffffff; border-color: #000000; border-style: solid;" border="1">
<tbody>
<tr>
<td style="width: 100%; background-color: #ffffff; border-color: #000000; border-style: solid; text-align: left;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>RECIBO DE {{venda.loja.nome}} OS PRODUTOS E/OU SERVIÇOS CONSTANTES NO PEDIDO</strong></span></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; border-color: #000000; border-style: solid;" border="1">
<tbody>
<tr>
<td style="width: 40.326%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">Data de recebimento</span></td>
<td style="width: 59.674%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">Identificação e assinatura do recebedor</span></td>
</tr>
</tbody>
</table>
<div style="text-align: center;">.........................................................................................................................................................................................................................................................................</div>
<div>
<table style="border-collapse: collapse; width: 99.8948%; height: 119px;" border="1">
<tbody>
<tr style="height: 94px;">
<td style="width: 21.6614%; height: 94px; border-color: #000000; border-style: solid; text-align: center;"><img src="{$loja->imagemlogo}" alt="" width="124" height="124" /></td>
<td style="width: 52.6813%; height: 94px; background-color: #ffffff; border-color: #000000; border-style: solid;">
<p style="padding-left: 160px; text-align: left;"><span style="font-size: 12pt;"><strong>{{ venda.loja.nome }}</strong></span></p>
<p style="padding-left: 160px; text-align: left;"><span style="font-size: 10pt;">{{ venda.loja.endereco|default:'Sem endereço' }}</span></p>
<p style="padding-left: 160px; text-align: left;"><span style="font-size: 10pt;">CNPJ: {{ venda.loja.cnpj|default:'Sem cnpj' }}</span></p>
</td>
<td style="width: 25.6572%; height: 84px; border-color: #000000; border-style: solid;">
<p style="margin: 1px 0px; text-align: center;"><span style="font-size: 10pt;">{{ venda.data_venda }}</span></p>
<p style="margin: 1px 0px; text-align: center;"><span style="font-size: 10pt;">VENDEDOR: {{ venda.vendedor }}</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0;"><span style="font-size: 10pt;"><strong>DESTINATÁRIO/REMETENTE</strong></span></p>
<table style="border-collapse: collapse; width: 100.315%; height: 100px;" border="1">
<thead>
<tr style="height: 22px; background-color: #95a5a6; text-align: center; border-color: #000000;">
<td style="width: 34.9895%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">Nome/Razão social</span></strong></td>
<td style="width: 12.0662%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">Telefone</span></strong></td>
<td style="width: 20.2681%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">CNPJ/CPF</span></strong></td>
<td style="width: 32.6762%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">E-mail</span></strong></td>
</tr>
</thead>
<tbody>
<tr style="height: 34px;">
<td style="width: 34.9895%; height: 34px; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ venda.cliente }}</span></td>
<td style="width: 12.0662%; height: 34px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.telefone }}</span></td>
<td style="width: 20.2681%; height: 34px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.cpf }}</span></td>
<td style="width: 32.6762%; height: 34px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.email }}</span></td>
</tr>
<tr style="height: 22px; background-color: #95a5a6; border-color: #000000; text-align: center;">
<td style="width: 34.9895%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">Endereço</span></strong></td>
<td style="width: 12.0662%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">CEP</span></strong></td>
<td style="width: 20.2681%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">Cidade</span></strong></td>
<td style="width: 32.6762%; height: 22px; border-color: #000000; border-style: solid; background-color: #ecf0f1;"><strong><span style="font-size: 10.6667px;">UF</span></strong></td>
</tr>
<tr style="height: 22px;">
<td style="width: 34.9895%; height: 22px; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ venda.cliente.endereco }}</span></td>
<td style="width: 12.0662%; height: 22px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.cep }}</span></td>
<td style="width: 20.2681%; height: 22px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.cidade }}</span></td>
<td style="width: 32.6762%; height: 22px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ venda.cliente.uf|default:'Sem UF' }}</span></td>
</tr>
</tbody>
</table>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0;"><span style="font-size: 10pt;"><strong>DADOS DOS PRODUTOS/SERVIÇOS</strong></span></p>
<table class="mce-table" style="border-collapse: collapse; width: 100.21%; height: 128px; border-color: #929292; border-style: solid;" border="1" width="100%" cellspacing="0" cellpadding="3" data-detailmodel="ItensVenda.vendas_id">
<thead>
<tr style="background-color: #95a5a6; height: 22px; border-color: #000000; text-align: center;">
<td style="width: 113.25px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;">Cód.</span></strong></td>
<td style="width: 228.094px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;"> Produto/serviço</span></strong></td>
<td style="width: 72.0625px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;">Quantidade</span></strong></td>
<td style="width: 110.469px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;">Valor item</span></strong></td>
<td style="width: 150.5px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;">Valor desconto</span></strong></td>
<td style="width: 192.938px; height: 22px; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><strong><span style="font-size: 8pt;">Valor total</span></strong></td>
</tr>
</thead>
<tbody>
{% for item in produtos %}
<tr>
<td style="width: 113.25px; height: 22px; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.produto.codigo }}</span></td>
<td style="width: 228.094px; height: 22px; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.produto.nome }}</span></td>
<td style="width: 72.0625px; height: 22px; border-color: #000000; border-style: solid; text-align: center;"><span style="font-size: 10pt;">{{ item.quantidade }}</span></td>
<td style="width: 110.469px; height: 22px; border-color: #000000; border-style: solid; text-align: right;"><span style="font-size: 10pt;">{{ item.valor_unitario|floatformat:2 }}</span></td>
<td style="width: 150.5px; height: 22px; border-color: #000000; border-style: solid; text-align: right;"><span style="font-size: 10pt;">{{ item.valor_desconto|floatformat:2 }}</span></td>
<td style="width: 192.938px; height: 22px; border-color: #000000; border-style: solid; text-align: right;"><span style="font-size: 10pt;">{{ item.calcular_valor_total|floatformat:2 }}</span></td>
</tr>
{% endfor %}
</tr>
</tbody>
<tfoot>
<tr>
<td style="width: 113.25px; height: 22px; border-color: #000000; border-style: solid;"> </td>
<td style="width: 228.094px; height: 22px; border-color: #000000; border-style: solid;"> </td>
<td style="width: 72.0625px; height: 22px; border-color: #000000; border-style: solid;"> </td>
<td style="width: 110.469px; height: 22px; border-color: #000000; border-style: solid;"> </td>
<td style="width: 150.5px; height: 22px; border-color: #000000; border-style: solid;"> </td>
<td style="width: 192.938px; text-align: right; height: 22px; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;"><strong>TOTAL: </strong>{{ venda.calcular_valor_total }}<strong><br /></strong></span></td>
</tr>
</tfoot>
</table>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0;"><span style="font-size: 10pt;"><strong>PAGAMENTO</strong></span></p>
<table class="mce-table" style="border-collapse: collapse; width: 100%; height: 80px; border-color: #929292; border-style: solid;" border="1" width="100%" cellspacing="0" cellpadding="3" data-detailmodel="VendasPagamentos.vendas_id">
<thead>
<tr style="text-align: center;">
<th style="width: 28.3912%; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><span style="font-size: 8pt;">Forma de pagamento</span></th>
<th style="width: 32.9126%; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><span style="font-size: 8pt;">Detalhes</span></th>
<th style="width: 14.9317%; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><span style="font-size: 8pt;">Valor</span></th>
<th style="width: 12.5132%; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><span style="font-size: 8pt;">Qtd parcelas</span></th>
<th style="width: 11.2513%; background-color: #ecf0f1; border-color: #000000; border-style: solid;"><span style="font-size: 8pt;">Primeiro vencimento</span></th>
</tr>
</thead>
<tbody>
{% for item in pagamentos %}
<tr>
<td style="width: 28.3912%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.tipo_pagamento }}</span></td>
<td style="width: 32.9126%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.detalhes }}</span></td>
<td style="width: 14.9317%; border-color: #000000; border-style: solid; text-align: right;"><span style="font-size: 10pt;">{{ item.valor }}</span></td>
<td style="width: 12.5132%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.parcelas }}</span></td>
<td style="width: 11.2513%; border-color: #000000; border-style: solid;"><span style="font-size: 10pt;">{{ item.data_primeira_parcela }}</span></td>
</tr>
{% endfor %}
</tr>
</tbody>
<tfoot>
<tr style="background-color: #ffffff;">
<td style="width: 28.3912%; border-color: #000000; border-style: solid;"> </td>
<td style="width: 32.9126%; border-color: #000000; border-style: solid;"> </td>
<td style="width: 14.9317%; border-color: #000000; border-style: solid; text-align: right;"><span style="font-size: 10pt;">{{ venda.pagamentos_valor_total}} <br /></span></td>
<td style="width: 12.5132%; border-color: #000000; border-style: solid;"> </td>
<td style="width: 11.2513%; border-color: #000000; border-style: solid;"> </td>
</tr>
</tfoot>
</table>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0;"><strong><span style="font-size: 10pt;">OBSERVAÇÕES</span></strong></p>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0px; text-align: justify;"><span style="font-size: 13.3333px; text-align: justify;">{{ venda.loja.mensagem_garantia }}</span></p>
<p style="margin: 1px 0px; text-align: justify;"> </p>
<p style="margin: 1px 0px; text-align: justify;"><span style="font-size: 13.3333px; text-align: justify;">_________________________________</span></p>
<p style="margin: 1px 0px; text-align: justify;"><span style="font-size: 13.3333px; text-align: justify;">assinatura</span></p>
<p style="margin: 1px 0;"> </p>
<p style="margin: 1px 0;"><span style="font-size: 10pt;">A empresa não é responsável por perda de dados armazenados nos produtos. Certifique-se de fazer a cópia de segurança necessária.</span></p>
<div style="margin: 1px 0;"> </div>
<p style="margin: 1px 0;"> </p>
<div class="footer">
<table style="border-collapse: collapse; width: 102.418%; height: 37px;" border="0">
<tbody>
<tr style="height: 22px;">
<td style="text-align: left; height: 22px;"><span style="font-size: 8pt;">DATA E HORA IMPRESSÃO: {% now "d/m/Y H:i" %}</span></td>
</tr>
</tbody>
</table>
<p style="margin: 1px 0;"> </p>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"></script>
<script>
    const element = document.body;
    const opt = {
        margin: [0, 0.5, 0, 0.5],
        filename: 'nota_venda.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
    };
    html2pdf().from(element).set(opt).save();
</script>
</html>