{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Vendas
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title">Vendas</h4>
      <div>
        <form action="" method="get" class="d-inline-block me-2" id="searchForm">
          <div class="input-group">
            <input type="date" name="search" class="form-control" value="{{ request.GET.search }}" onchange="this.form.submit()">
            <a href="{% url "vendas:venda_list" %}" class="btn btn-outline-secondary">
                <i class="bx bx-x"></i>
            </a>
          </div>
        </form>
        {% if user|has_perm:"add_venda" %}
        <a href="{% url 'vendas:venda_create' %}" class="btn btn-primary">
        <i class="bx bx-plus me-1"></i> Criar Venda
        </a>
        {% endif %}
      </div>
      </div>
      <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
        <thead>
          <tr>
          <th scope="col">Vendedor</th>
          <th scope="col">Cliente</th>
          <th scope="col">Data</th>
          <th scope="col">Cancelada</th>
          <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in vendas %}
          <tr>
          <td>{{ item.vendedor|title }}</td>
          <td>{{ item.cliente|title }}</td>
          <td>{{ item.data_venda|date:"d/m/Y h:s" }}</td>
            <td>
            {% if item.is_deleted %}
              <i class="bx bx-check text-success"></i>
            {% else %}
              <i class="bx bx-x text-danger"></i>
            {% endif %}
            </td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                {% if user|has_perm:"view_venda" %}
                  <a class="dropdown-item" href="{% url 'vendas:venda_detail' item.pk %}">
                  <i class="bx bx-show me-1"></i> Detalhes
                  </a>
                {% endif %}
              </div>
            </div>
          </td>
          {% empty %}
          <td colspan="5">Nenhum registro encontrado</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        {% include "snippets/pagination.html" %}
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}