{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Estoque
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Estoque</h4>
          <div>
            <form action="" method="get" class="d-inline-block me-2" id="searchForm">
              <input type="text" name="search" class="form-control d-inline-block me-2" style="width: auto;" placeholder="Pesquisar..." onchange="document.getElementById('searchForm').submit();">
            </form>

            {% if user|has_perm:"estoque.add_entradaestoque" %}
            <a type="button" class="btn btn-primary" href={% url "estoque:estoque_entrada" %}>
                <i class="bx bx-plus me-1"></i>
                Adicionar Entrada
              </a>
            {% endif %}
            <!-- botão gerar inventário estoque -->
            <a type="button" class="btn btn-primary" target="_blank"  href={% url "estoque:inventario_pdf" %}>
              <i class="bx bx-file me-1"></i> Gerar Inventário
            </a>
            <!-- Button trigger modal -->
            {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
              <i class="bx bx-plus me-1"></i>
              Adicionar Entrada
            </button>
            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Adicionar Entrada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                      </div>
                      <div class="mb-3">
                        <label for="quantidade" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
                      </div>
                      <div class="mb-3">
                        <label for="preco" class="form-label">Preço</label>
                        <input type="number" class="form-control" id="preco" name="preco" step="0.01" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col" class="text-center">Quantidade</th>
                  <th scope="col" class="text-center">Qtd. Vendas</th>
                  <th scope="col" class="text-center">Custo médio</th>
                  <th scope="col" class="text-center">Preço médio</th>
                  <!-- <th scope="col" class="text-center">Ações</th> -->
                </tr>
              </thead>
              <tbody>
                {% if produtos %}
                  {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.produto|title }}</td>
                        <td class="text-center">{{ produto.quantidade_disponivel }}</td>
                        <td class="text-center">
                          {{ produto|total_vendas:loja_id }}
                        </td>
                        <td class="text-center">R$ {{ produto.preco_medio_custo|floatformat:2 }}</td>
                        <td class="text-center">R$ {{ produto.preco_medio|floatformat:2 }}</td>
                        <!-- <td class="text-center">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">
                                    <i class="bx bx-show me-1"></i> Detalhes
                                    </a>
                                    <a class="dropdown-item" href="">
                                    <i class="bx bx-edit me-1"></i>
                                    Editar
                                    </a>
                                </div>
                            </div>
                        </td> -->
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4" class="text-center">Nenhum produto encontrado</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
            {% include "snippets/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
