{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Estoque
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
    <div class="card">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Estoque/</span> Editar</h4>
            <div class="row">
              <div class="col-xl">
                <div class="card mb-4">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Estoque</h5>
                  </div>
                  <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <label for="produto">Produto:</label>
                        <input type="text" class="form-control" value="{{ produto.nome }}" name="produto" disabled>
                        <label for="quantidade_disponivel">Quantidade:</label>
                        <input type="number"  class="form-control" value="{{ form.quantidade_disponivel.value }}" name="quantidade_disponivel" required>
                        {% if user|has_perm:"estoque.change_estoque" %}
                        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                        {% endif %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}