{% extends "base.html" %}
{% block title %}
Entrada {{ entrada.data_entrada|date:"d/m/Y" }}
{% endblock title %}


{% block content %}

<div class="container-xxl mt-4">
  <!-- Card with Caixa Information -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Entrada {{ entrada.data_entrada|date:"d/m/Y" }}</h4>
          <div>
            <a href="{% url "estoque:entrada_list" %}" class="btn btn-primary">
              <i class="bx bx-arrow-back me-1"></i> Voltar
            </a>
          </div>
        </div>
        <div class="card-body">
            <p><strong>Fornecedor:</strong> {{ entrada.fornecedor|upper }}</p>
            <p><strong>Data da Entrada:</strong> {{ entrada.data_entrada|date:"d/m/Y" }}</p>
            <p><strong>Custo Total:</strong> {{ entrada.custo_total }}</p>
            <p><strong>Venda Total:</strong> {{ entrada.venda_total }}</p>
            <p><strong>Quantidade Total:</strong> {{ entrada.quantidade_total }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Card with List of Vendas -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Produtos da Entrada</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Custo</th>
                <th>Valor</th>
                <th>Quatidade</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in entrada.produtos.all %}
              <tr>
                <td>{{ produto.produto }}</td>
                <td>{{ produto.custo_unitario }}</td>
                <td>{{ produto.venda_unitaria }}</td>
                <td>{{ produto.quantidade }}</td>
                <td class="">
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">
                            <i class="bx bx-show me-1"></i> Detalhes
                            </a>
                        </div>
                    </div>
                </td>
                {% empty %}
                <td colspan="4">Nenhum Produto Vinculada</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}