{% extends "base.html" %}
{% load  iam_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Adicionar Entrada
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.imei|as_crispy_field }}
                        {{ form.produto|as_crispy_field }}
                        
                        <div class="form-group">
                            <label for="id_vendido">Vendido</label>
                            <div class="form-check form-switch">
                                {{ form.vendido }}
                            </div>
                        </div>
                        
                        {{ produtoentrada_formset.management_form }}
                        {% for form in produtoentrada_formset %}
                            {{ form|crispy }}
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
