{% extends "base.html" %}
{% load static iam_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Adicionar Entrada
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    
                        {{ formset.management_form }}
                        <table id="produto-table" data-form-count="{{ formset.total_form_count }}" data-formset-prefix="{{ formset.prefix }}" class="table">
                            <tbody>
                                {% for form in formset %}
                                    <tr class="produto-form">
                                        {% for field in form %}
                                            <td>{{ field|as_crispy_field }}</td>
                                        {% endfor %}
                                        <td>
                                            <button type="button" class="btn btn-danger remove-product">Remover</button>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr class="produto-form">
                                        {% for field in formset.empty_form %}
                                            <td>{{ field|as_crispy_field }}</td>
                                        {% endfor %}
                                        <td>
                                            <button type="button" class="btn btn-danger remove-product">Remover</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="product-counter" class="alert alert-info mt-3">
                            <strong>Produtos adicionados:</strong> {{ formset.total_form_count }}
                        </div>
                        <button type="button" id="add-product" class="btn btn-success">Adicionar Produto</button>
                        {% if user|has_perm:"estoque.add_entradaestoque" %}
                        <button type="submit" class="btn btn-primary">Salvar Entrada</button>
                        {% endif %}
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static "js/entrada.js" %}"></script>
{% endblock extra_scripts %}