{% extends "base.html" %}
{% load  iam_tags %}
{% block title %}
Editar Memória
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">
    <div class="card">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Memória/</span> Editar</h4>
            <div class="row">
              <div class="col-xl">
                <div class="card mb-4">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Memória</h5>
                  </div>
                  <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}