{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Caixas - Loja
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <!-- Store Details -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card bg-light border-0 shadow-sm p-3">
        <h4 class="text-primary mb-3"><i class="bx bx-store-alt"></i> Detalhes da Loja</h4>
        <p><strong>Nome da Loja:</strong> {{ loja.nome }}</p>
        <p><strong>Endereço:</strong> {{ loja.endereco }}</p>
        <p><strong>Contato:</strong> {{ loja.telefone }}</p>
      </div>
    </div>
  </div>

  <!-- Table for Vendas -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card border-0 shadow-sm p-3" style="background-color: rgba(0, 128, 0, 0.05);">
        <h4 class="text-success mb-3"><i class="bx bx-log-in-circle"></i> Vendas</h4>
        <div class="table-responsive" style="height: 300px; overflow-y: auto;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data Caixa</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for vendas in vendas %}
              {% for venda in vendas %}
              <tr>
                <td>{{ venda }}</td>
                <td>{{ venda.caixa.data_abertura }} - {{ venda.caixa.data_fechamento|default:"Aberto" }}</td>
                <td>R$ {{ venda.pagamentos_valor_total_dinheiro }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" class="text-center">Nenhuma venda registrada</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="mt-3"><strong>Total: R$ {{ total_venda }}</strong></p>
      </div>
    </div>
  </div>

  <!-- Table for entradas -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card border-0 shadow-sm p-3" style="background-color: rgba(0, 0, 255, 0.05);">
        <h4 class="text-primary mb-3"><i class="bx bx-log-in-circle"></i> Entradas</h4>
        <div class="table-responsive" style="height: 300px; overflow-y: auto;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Motivo</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for entradas in entradas %}
              {% for entrada in entradas %}
              <tr>
                <td>{{ entrada.criado_em }}</td>
                <td>{{ entrada.motivo }}</td>
                <td>R$ {{ entrada.valor }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" class="text-center">Nenhuma entrada registrada</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="mt-3"><strong>Total: R$ {{ total_entrada }}</strong></p>
      </div>
    </div>
  </div>

    <!-- Table for Saídas -->
    <div class="row mb-4 mt-4">
      <div class="col-12">
        <div class="card border-0 shadow-sm p-3" style="background-color: rgba(255, 0, 0, 0.05);">
          <h4 class="text-danger mb-3"><i class="bx bx-log-out-circle"></i> Saidas</h4>
          <!-- Table -->
          <div class="table-responsive" style="height: 300px; overflow-y: auto;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Motivo</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                {% for saidas in saidas %}
                {% for saida in saidas %}
                <tr>
                  <td>{{ saida.criado_em }}</td>
                  <td>{{ saida.motivo }}</td>
                  <td>R$ {{ saida.valor }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3" class="text-center">Nenhuma saída registrada</td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <p class="mt-3"><strong>Total: R$ {{ total_saida }}</strong></p>
        </div>
      </div>
    </div>

    <div class="row mb-4">    
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Lançamentos</h4>
          </div>
          {% if user|has_perm:"vendas.add_lancamentocaixatotal" %}
          <form method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                {% for field in form_lancamento %}
                <div class="col-md-4">
                  <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <span class="help-block text-danger">{{ field.errors.0 }}</span>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
                <div class="col-md-4">
                  <div class="form-group mt-4">
                      <button type="submit" class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% endif %}
  
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Motivo</th>
                  <th>Tipo lançamento</th>
                  <th>valor</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for lançamento in lancamentos %}
                <tr>
                  <td>{{ lançamento.criado_em }}</td>
                  <td>{{ lançamento.motivo }}</td>
                  <td>{{ lançamento.get_tipo_lancamento_display }}</td>
                  <td>{{ lançamento.valor }}</td>
                  <td>
                    {% if user|has_perm:"vendas.delete_lancamentocaixatotal" %}
                    <a href='{% url "vendas:caixa_total_lancamento_delete" lançamento.id %}' class="btn btn-danger">
                      <i class="bx bx-trash"></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Total -->
    <div class="row mb-4">
      <div class="col-12">
        <div class="card border-0 shadow-sm p-3">
          <h4 class="text-primary mb-3"><i class="bx bx-dollar-circle"></i> Total</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vendas</td>
                  <td>R$ {{ total_venda }}</td>
                </tr>
                <tr>
                  <td>Entradas</td>
                  <td>R$ {{ total_entrada }}</td>
                </tr>
                <tr>
                  <td>Saídas</td>
                  <td>R$ {{ total_saida }}</td>
                </tr>
                <tr>
                  <td><strong>Total</strong></td>
                  <td><strong>R$ {{ total }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    {% endblock %}