{% extends 'base_login.html' %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <div class="authentication-inner">
      <!-- Login -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'vendas:index' %}" class="app-brand-link gap-2">
              <!-- Logo aqui -->
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Bem-vindo! 👋</h4>
          <p class="mb-4">Faça login na sua conta</p>

          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form id="formAuthentication" class="mb-3" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <label for="id_loja" class="form-label">Loja*</label>
              <select id="id_loja" name="loja" class="form-select mb-3" required>
                <option value="">Selecione uma loja</option>
                <!-- Este campo será preenchido dinamicamente pelo JavaScript -->
            </select>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Entrar</button>
            </div>
          </form>

          <p class="text-center">
            <span>Esqueci minha senha.</span>
            <a href="{% url 'accounts:password_reset' %}">
              <strong>Recuperar senha</strong>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const usernameField = document.getElementById('id_username');
    usernameField.addEventListener('blur', buscarLojasUsername);
    usernameField.addEventListener('change', buscarLojasUsername);
    const botaoEntrar = document.querySelector('button[type="submit"]');
    botaoEntrar.classList.add('d-none');

    async function buscarLojasUsername() {
      if (!botaoEntrar.classList.contains('d-none')) {
        botaoEntrar.classList.add('d-none');
      }
      const username = usernameField.value;
      try {
        const response = await fetch(`/buscar-lojas/?username=${username}`);
        const data = await response.json();
  
        const selectLoja = document.getElementById('id_loja');
        selectLoja.innerHTML = ''; // Limpa as opções anteriores
  
        if (data.lojas && data.lojas.length > 0) {
          data.lojas.forEach(loja => {
            const option = document.createElement('option');
            option.value = loja.id;
            option.text = loja.nome;
            selectLoja.appendChild(option);
            if (botaoEntrar.classList.contains('d-none')) {
              botaoEntrar.classList.remove('d-none');
            }
          });
        } else {
          const option = document.createElement('option');
          option.value = '';
          option.text = 'Nenhuma loja encontrada';
          selectLoja.appendChild(option);
          if (!botaoEntrar.classList.contains('d-none')) {
            botaoEntrar.classList.add('d-none');
          }
        }
      } catch (error) {
        console.error('Erro ao buscar lojas:', error);
        if (!botaoEntrar.classList.contains('d-none')) {
          botaoEntrar.classList.add('d-none');
        }
      }
    }
  });
  </script>
{% endblock %}