{% load static iam_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if cliente_id %}
        <input type="hidden" name="cliente_id" value="{{ cliente_id }}">
    {% endif %}
    <h3>Dados Cliente</h3>
    <hr>
    <!-- Form Cliente em colunas-->
    <div class="row">
        {% for field in form_cliente %}
            <!-- ajustar campo checkbox-->
            {% if field.label == 'Cliente cred facil' %}
                <div class="col-md-12">
                    <div class="form-check form-switch mt-3">
                        {{ field }}
                        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                </div>
            {% elif field.label == 'Nascimento' %}
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input type="date" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|date:'Y-m-d' }}">
                    </div>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h3 class="mt-3">Informações Adicionais</h3>
    <hr>
    <div class="row">
        {% for field in form_adicional %}
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </div>

    <h3 class="mt-3">Comprovantes</h3>
    <hr>
    <div class="row">
        {% for field in form_comprovantes %}
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <!-- Verificar se o arquivo existe e exibir um link para visualização -->
                    {% if field.value %}
                        <a href="{{ field.value.url }}" target="_blank" class="d-block mt-2">
                            <img src="{{ field.value.url }}" class="img-thumbnail" style="max-height: 100px;">
                        </a>
                        <span>Deseja trocar o arquivo? Escollha um novo arquivo e clique em salvar.</span>
                    {% endif %}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user|has_perm:"change_cliente" %}
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    {% endif %}
</form>